
.ue-radio--button {
	.ue-button--radio {
		float: left;
		padding: 0 20px;
		margin-left: -1px;
		min-width: 100px;
		height: 36px;
		font-size: 14px;
		text-align: center;
		line-height: 36px;
		background-color: #ffffff;
		border-width: 1px;
		border-color: #e1e3e6;
		border-style: solid;
		cursor: pointer;
		&.active {
			position: relative;
			z-index: 1;
			color: #2693ff;
			background-color: #f3f9ff;
			border-color: #2693ff;
		}

		&:first-child {
			border-radius: 4px 0px 0px 0px;
		}

		&:last-child {
			border-radius: 0px 4px 0px 0px;
		}
	}
}