.ue-radio--button {
	.ue-button--radio {
		float: left;
		padding: 0 20px;
		margin-left: -1px;
		min-width: 100px;
		height: 36px;
		font-size: 14px;
		text-align: center;
		line-height: 36px;
		background-color: #ffffff;
		border-width: 1px;
		border-color: #e1e3e6;
		border-style: solid;
		cursor: pointer;

		&.active {
			position: relative;
			z-index: 1;
			color: #ffffff;
			background: #2693ff;
			border-color: #2693ff;
		}

		&:first-child {
			margin-left: 0px;
			border-radius: 4px 0px 0px 0px;
		}

		&:last-child {
			border-radius: 0px 4px 0px 0px;
		}
	}
}

$blue = #2693ff;
$hoverBlue = #198bfc;
$linkColor = $blue;
$indexBlue = #006699;
$indexBlueHover = #00669999;
$indexLinkCOlor = $indexBlue;

.ue-button {
	display: inline-block;
	padding: 0 15px;
	height: 36px;
	font-size: 14px;
	line-height: 34px;
	color: #333;
	text-align: center;
	border-radius: 4px;
	border: 1px solid transparent;
	background-color: transparent;
	user-select: none;
	transition: all 0.3s;
	cursor: pointer;

	&:hover {
		transition: all 0.3s;
	}

	&.ue-btn-default {
		color: #ffffff;
		background-color: $indexLinkCOlor;
		border-color: $indexLinkCOlor;

		&:hover {
			background-color: $indexBlueHover;
			border-color: $indexBlueHover;
		}

		&:active {
			background-color: #006699;
		}
	}

	&.ue-btn-blue {
		color: #ffffff;
		background-color: $linkColor;
		border-color: $linkColor;

		&:hover {
			background-color: $hoverBlue;
			border-color: $hoverBlue;
		}

		&:active {
			background-color: #006699;
		}
	}

	&.ue-btn-red {
		color: #ffffff;
		background-color: red;
		border-color: red;
	}

	&.ue-btn-gray {
		color: #ffffff;
		background-color: gray;
		border-color: gray;
	}

	&.ue-btn-green {
		color: #ffffff;
		background-color: green;
		border-color: green;
	}

	&.ue-btn-large {
		width: 100%;
	}

	&.ue-btn-small {
		height: 22px !important;
		line-height: 20px !important;
	}

	&.ue-btn-outline {
		color: #fff;
		padding: 0 5px;
		border-color: rgba(119, 200, 241, 0.65);
		background: transparent;
	}
}

.ue-form-item {
	overflow: hidden;

	.ue-form-label {
		float: left;
		width: 50px;
		text-align: right;
		font-size: 14px;
		line-height: 28px;

		&+input {
			float: left;
			margin-left: 10px;
			width: 140px;
			text-indent: 10px;
			font-size: 14px;
			line-height: 26px;
			border: 1px solid #e1e1e1;
		}
	}
}