// 警示配色level1
// 常规配色level2
// 模糊配色level3

$blue1: #0b2e4a;
$blue2: #29527e;
$blue3: #029bbb;

$red1: #dd3032;
$red2: #e43927;
$red3: #ef2a57;

$green1: #019d96;
$green2: #72c847;
$green3: #7ae577;

$cyan1: #02a4de;
$cyan2: #23cbff;
$cyan3: #50e1de;

$gold1: #ffbb27;
$gold2: #f4b833;
$gold3: #ffc900;

$gray: #c6c6bc;
$bgColor: #006698;
$bgColor1: rgba(0, 102, 152, 0.85);
$bgColor2: rgba(0, 102, 152, 0.6);

$h1: 22px;
$h2: 16px;
$h3: 14px;
