// 警示配色level1
// 常规配色level2
// 模糊配色level3

// error
$pinkFirst: #b52356;
$pinkSecond: #c34c6c;
$pickThird: #e16a9b;
// success
$greenFirst: #3b5a52;
$greenSecond: #45675e;
$greenThird: #8ab3a2;
// warning
$brownFirst: #413125;
$brownSecond: #897460;
$brownThird: #a88267;
// background
$blueFirst: #1d2538;
$blueSecond: #364a57;
$blueThird: #98a0b0;
// background
$purpleFirst: #34254a;
$purpleSecond: #624c7d;
$purpleThird: #8c7b9a;
// basic color
$basicFirst: #414f45;
$basicSecond: #505b51;
$basicThird: #5c7c83;
$basicFourth: #979f8c;
$basicFifth: #bdd0da;
$basicSixth: #7b887c;

$h1: 24px;
$h2: 18px;
$h3: 14px;