* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&::after, &::before {
		box-sizing: border-box;
	}
}

.ue-fl {
	float: left;
}

.ue-fr {
	float: right;
}

.ue-clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}

	&::before {
		content: '';
		display: table;
	}
}

.ue-align-center {
	text-align: center;
}

.ue-align-right {
	text-align: right;
}

.ue-fixed {
	position: fixed;
}

.ue-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.line-clamp-2 {
		width: 100%;
		word-break: break-all;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
}

.ue-img-wrap {
	width: 100px;
	text-align: center;

	&::after {
		content: '';
		vertical-align: middle;
	}

	img {
		width: 100%;
		vertical-align: middle;
	}
}

.ue-rel, .ue-login, .ue-default-layout {
	position: relative;
}

.ue-abs, .ue-fixed-center {
	position: absolute;
}

.ue-icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.ue-justify-dot {
	text-align: center;
	font-weight: bold;

	.el-timeline-item__timestamp, .el-timeline-item__content {
		color: #fff;
	}
}

.Urban-Emergency-Management {
	.el-table {
		font-size: 12px;
		font-weight: 400;
		background-color: transparent;
		&::before,
		&::after {
			background-color: transparent;
		}
		.el-table__header {
			display: none;
		}

		th, td {
			padding: 2px 0;
			color: #fff;
			background-color: transparent;
			border-bottom: 4px solid transparent;
			border-right: 4px solid transparent;
		}

		tr {
			background: transparent;
		}
	}

	.el-table--enable-row-hover {
		tr {
			&:hover {
				td {
					background: transparent !important;
				}
			}
		}
	}

	.el-table__row--striped {
		td {
			background: transparent !important;
		}

		.cell {
			background: #00669999 !important;
		}
	}

	.el-table--border, .el-table--group {
		border: 4px solid transparent;
	}

	.el-table__row {
		.cell {
			padding: 0 4px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}