.ue-login {
	background: url('../assets/img-sign-in.png') no-repeat center center;
	background-size: cover;
}

.ue-login-box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 355px;

	.ue-login-title {
		padding: 10px 0;
		top: -100px;
		left: -75px;
		white-space: nowrap;
		color: #fff;
		font-size: 28px;
		line-height: 1;
		font-weight: 700;
		text-align: center;
	}
}

.ue-login-form {
	padding: 30px 0;
	background-color: #fff;

	.ue-login-item {
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}

	.ue-login-pki {
		line-height: 200px;
		text-align: center;
	}

	.ue-form-item {
		padding-top: 20px;
	}
}